//  Gazelle icons
@font-face {
  font-family: 'ga-icon';
  font-weight: 400;
  src: url('../fonts/gazelle-icons/icons.eot');
  src: url('../fonts/gazelle-icons/icons.eot?iefix') format('eot'),
  url('../fonts/gazelle-icons/icons.woff') format('woff'),
  url('../fonts/gazelle-icons/icons.ttf') format('truetype'),
  url('../fonts/gazelle-icons/icons.svg#icons') format('svg');
}

.ga-icon {
  display: inline-block;
  margin: 0;
  background-repeat: no-repeat;

  &:before {
    content: '';
    font-family: 'ga-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-ebike--yes:before {
  content: '\e901';
}

.icon-ebike--no:before {
  content: '\e900';
}
