.img-icon {
  display: inline-block;
  width: 36px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-frame-f,
.icon-frame-L,
.icon-frame-l {
  @extend .img-icon;
  background-image: url('../images/frames/low.svg');
}
