@import "icons";
@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

.container {
    width: 970px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: flex-start;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.4rem;
}

button {
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    text-align: center;
    margin-right: 6px;
    border-radius: 2px;

    &.blue {
        background-color: $blue;
        color: $white;
    }
}

//
// Component specific
//----------------------

.color-swatch {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px
}
